<div class="container">
  <h1 class="page-header">Eat-Da-Burger!</h1><br>
  <div class="row">
    <div class="col-md-4">
      <div class="contents-r1-c1">
        <br>
        <br>          
        <ol id="listing">
          {{#each burgers}}
            {{#unless eaten}}
              {{> burgers/burger-block eat=true}}
            {{/unless}}
          {{/each}}
        </ol>
      </div>
    </div>

    <div class="col-md-4">
      <div class="contents-r1-c1">
                
        <h3 class="burger-entry">Enter a Burger to eat</h3>
        <form class="create-form">

          <div class="form-group">
            <label for="ca"></label>            
            <input type="text" id="ca" name="name">
          </div>

          <div class="form-group">
            <div class="button-wrapper">
              <label for="eaten"></label>
              <input type="radio" id="radio1" name="eaten" value="0" checked>
              <input type="radio" id="radio1" name="eaten" value="1">            
              <button type="submit" class="showburger">Submit</button>            
            </div>
          </div>
         
        </form>
    
      
      </div>
    </div>

    <div class="col-md-4">
      <div class="contents-r1-c1">
        <br>
        <ol id="listing">
          {{#each burgers}}
            {{#if eaten}}
            <br>{{name}}
              {{!-- {{> burgers/burger-block eat=false}} --}}
              <button>Devoured</button>
              <button class="delete-burger" data-id="{{this.id}}">Delete!</button><br>
            {{/if}}
          {{/each}}
        </ol>
      </div>
    </div>
  </div>
</div>