html,
body {
  height: 100%;
  background-image: url("../img/background.jpg");
}
.page-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 45px;
  text-align:center;
  color: whitesmoke;
  margin-top:-5px;
  font-weight: bold;
}

.burger-entry {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align:center;
  color: whitesmoke;
  margin-top:-25px;
  font-size: 22px;
  font-weight: bold;
  
}
.container {
  background-size:cover;
  background-image: url("../img/background.jpg");
  /* width: 2000px; */
}

li {
  padding: 10px 10px 10px 10px;
  margin: 5px; 
  margin: 5px;
  color: red;
  font-size: large;
  /* background-image: url("../img/background.jpg"); */
  width: 415px;
  font-weight: bolder;
  text-align: justify;
  list-style: none;
  
}

.label {
  font-weight: bold;
  
}

#button-wrapper{
  cursor:pointer;
  width:650px;
  height:50px;
  color:white;
  font-size:18px; 
}

#button-wrapper:hover{
  color: green;
}

button {
  cursor:pointer;
  border-radius:7px;
  padding:4px;
  margin:5px;    
  color: black;
  font-weight: bold;    
}

button:hover{    
  color: red;
}

.contents-r1-c1 {  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  margin-top:25px; 
  height: 650px;
  width: auto;
  text-align: center;
}

.contents-r1-c2 {  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  margin-top:95px; 
  height: 650px;
  width: auto;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: rgb(199, 56, 144);
}

#radio1 {
  visibility: hidden;
}

#listing {
  padding: 10px 10px 10px 10px;
  margin: 5px;
  color: red;
  font-size: large;
  /* background-image: url("../img/background.jpg"); */
  width: 415px;
  font-weight: bolder;
  text-align: justify;
}

.form-group {
  margin-bottom: 5px;
  font-size: 18px;
  color: whitesmoke;
}
